html

body { 
    margin: 200px;
}

table {
    margin: 15px;
    padding: 15px;
    width: 100%;
  }
  
  td {
    margin: 15px;
    padding: 15px;
    width: 100%;
  }

  th {
    margin: 15px;
    padding: 15px;
    border: rgb(26, 192, 54) 5px solid;
  }

 
